    body {
        font-family: Arial, sans-serif;
        margin: 0;
        overflow-x: hidden;
    }


    #sidePanel {
        position: fixed;
        top: 0;
        right: -30%; /* 初期位置は画面外 */
        width: 30%; /* 画面の3分の1 */
        height: 100%;
        background-color: #f4f4f4;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        transition: right 0.5s ease; /* スライドアニメーション */
        z-index: 2;
    }


    #sidePanel.shown {
        right: 0; /* 画面内にスライド */
    }
    #sidePanel.hidden {
        right: -30%; /* 画面内にスライド */
    }

    #sidePanel button {
        margin: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #sidePanel button:hover {
        background-color: #0056b3;
    }

    #openButton {
        margin: 20px;
        padding: 10px 20px;

        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .close-icon {
        position: absolute;
        border: 1px black solid;
        top: 50%; /* 上下中央 */
        left: -20px; /* パネルの左外側に配置 */
        width: 20px;
        height: 80px;
        color: black;
        font-size: 30px;
        text-align: center;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        background-color:#DCBF7D;;
        transform: translateY(-50%); /* 完全な上下中央にする */
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    #closeButton.shown {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    /* 非表示時 */
    #closeButton.hidden {
        transform: translateX(20px); /* 右に移動しながら消える */
        opacity: 0;
        transition: transform 0.3s ease opacity 0.3s ease;
    }


    #closeButton .angle {
        line-height: 80px;
    }






