html, body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn
{
    border-radius: 15px;
    font-size: 15px;
}

.card
{
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
}

.card-header
{
    background-color: transparent;
    font-weight: bold;
    font-size: 40px;
}

.row
{
    justify-content: center;
}

.input-group
{
    position: relative;
    width: 100%;
}

.form-control
{
    border-radius: 15px;
}

.input-group .input-icon
{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.input-group input
{
    width: 100%;
    padding-left: 4rem;
    background-color: transparent;
    color: #ffffff;
}

.input-group input:focus
{
    outline: none;
    border-color: transparent;
}

a
{
    text-decoration: none;
}

.icon-md
{
    font-size: 3.5rem;
}

.avatar-md
{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

main{
    flex-grow: 1;
}

footer{
    background-color: #eeeeee;
    padding: 30px 0;
    width: 100%;
    margin-top: auto;
}

footer h1{
    color: #004aad;
    font-weight: bold;
    font-family: arial;
    margin-left: 60px;
}

footer a{
    color: black;
    font-style: normal;
}

footer .row {
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 0;
}

footer .col-auto{
    margin-right: 100px;
}

footer h5{
    font-weight: bold;
    font-family: arial;
}

footer .app a{
    margin: 0 10px;
    font-size: 2em;
}

footer small{
    padding: 30px;
    font-weight: bold;
}

footer .right{
    margin-left: 400px;
}




