
.btn
{
    border-radius: 15px;
    font-size: 15px;
    width: 100%;
}

.card
{
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
}

.card-header
{
    background-color: transparent;
    font-weight: bold;
    font-size: 40px;
}

.row
{
    justify-content: center;
}

.input-group
{
    position: relative;
    width: 100%;
}

.form-control
{
    border-radius: 15px;
}

.input-group .input-icon
{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.input-group input
{
    width: 100%;
    padding-left: 4rem;
    background-color: transparent;
    color: #ffffff;
}

.input-group input:focus
{
    outline: none;
    border-color: transparent;
}

a
{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

/* design of circle */
.corner-circle {
width: 100px; /* 円の直径 */
height: 100px; /* 円の直径 */
background-color: #dcbf7d; /* 円の背景色 */
border-radius: 50%; /* 円形にする */
position: absolute; /* 配置を自由に調整 */
}

/* left top */
.circle-left-1
{
    width: 650px;
    height: 650px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

/* left bottom */
.circle-left-2 {
    width: 400px;
    height: 400px;
    bottom: 100px;
    left: 0;
    transform: translate(-50%, 80%);
}

/* right bottom top */
.circle-right-1
{
    width: 500px;
    height: 800px;
    bottom: 300px;
    right: 50px;
    transform: translate(70%, 65%);
}

/* right bottom bottom */
.circle-right-2
{
    width: 900px;
    height: 500px;
    bottom: 0px;
    right: 0px;
    transform: translate(50%, 50%);
}



.icon-md
{
    font-size: 3.5rem;
}

.avatar-md
{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}




