.notification-section {
    min-height:200px;
    max-height: 500px;
    max-width: 300px;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.notification {
    height: 100px;
    text-align:left;
}

.modal-notification-body {
    height: 300px;
}

.close {
    background-color:rgb(179, 179, 179);
    border-radius: 10px;
    border:none;
    padding:4px 10px;
}

.read-btn {
    background-color:gray;
    color:white;
    border:none;
    padding:4px 10px;
    border-radius:10px;
}
